<!doctype html>
<html lang="en">
<head>
    <title>Multilingual Query Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formstyle.css') }}">
</head>
<body>
    <h1>Query Classifier</h1>
    <form method="post">
        <label for="query">Enter your query:</label>
        <input type="text" id="query" name="query" required>

        <label for="lang">Select Language:</label>
        <select name="lang" id="lang">
            <option value="guj">Gujarati</option>
            <option value="hin">Hindi</option>
            <option value="eng">English</option>
        </select>

        <button type="submit">Classify</button>
    </form>

    {% if result %}
        <h3>Predicted Class Description: {{ result.description }}</h3>
    {% endif %}
</body>
</html>
